{% extends 'common/base.html' %}
<title>{% block head_title%}MUTZIN LAB-NCUTS{% endblock %}</title>
{% block content %}
    <br>
    <p style="font-size: 30px; font-style: normal; font-weight: bolder; color: #fff; margin-bottom: 5px;">Portable Booth</p>
    <p style="font-size: 45px; font-style: normal; font-weight: bolder; color: #fff; margin-top: 0px;">GET IMAGE!</p>
    <img src="{{ nCutsGened_image_url }}" alt="N-Cuts-Photo" style="max-width: 30vw; height: auto;">
    <h1></h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-light smBtn" href="{% url 'lab:download_image' pk=pk n=5 %}">Download</a>
        </div>
        <div class="col">
                <a class="btn btn-outline-light smBtn" href="{{ songUrl }}">Song</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-light smBtn" href="/lab/ncutsgen">Back</a>
        </div>
    </div>

{% endblock %}