{% extends 'common/base.html' %}
{% block content %}
<h1>필름을 경험하세요</h1>
    <div class="row-cols-1">
        <img src="{{ film_ori_image_url }}" alt="Original Film Image" style="max-width: 30vw; height: auto;">
        <img src="{{ film_image_url }}" alt="Modified Film Image" style="max-width: 30vw; height: auto;">
    </div>
    <a class="btn btn-outline-light smBtn" href="/lab/filmgen">Film Gen</a>
    <a class="btn btn-outline-light smBtn" href="{% url 'lab:download_image' pk=pk n=1 %}">download</a>
{% endblock %}