{% extends 'common/base.html' %}
{% block content %}
    <style>
    #mainImg{
        max-width: 100dvw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #welcomeText{
        font-weight: bold;
        font-size: 5vw;
        color: white;
        position: absolute;
        top: 25vh;
        z-index: 1;
    }
    #cvImg{
        position: relative;
        margin-top: 2vh;
        padding: 100px 150px;
        color: #fff;
        z-index: 1;
        text-decoration: none;
        background-size: cover;
        background-position: center;
        background-image: url('/static/main/cv.jpeg');
    }
    #cvImg:hover{
        background-image: url('/static/main/cv.gif');
    }
    #sec1-txt{
        margin-top: 5vh;
        font-style: italic;
        background-color: black;
        position: relative;
        font-weight: bold;
        font-size: 3vw;
        color: white;
    }
    .shortcutBtns{
        width:100dvw;
        height:10dvh;
        {#background-color: gray;#}
        position: absolute;
        top: 41vh;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section1{
        background-color: black;
        position: absolute;
        width: 100%;
        height: 1000px;
        top: 60dvw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section2{
        background-color: black;
        position: absolute;
        width: 100%;
        height: 1000px;
        top: 130dvw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .filmgen-btn {
        position: relative;
        margin-top: 2vh;
        padding: 100px 150px;
        color: #fff;
        z-index: 1;
        text-decoration: none;
        background-size: cover;
        background-position: center;
        background-image: url('/static/lab/filmbtn.jpg');
    }

    .filmgen-btn:hover {
        background-image: url('/static/lab/film.gif');
    }

     @media (max-width: 1000px) {
         #welcomeText{
             top: 17vh;
         }
         #sec1-txt{
             margin-top:10vh;
         }
            .filmgen-btn {
                padding: 30px 50px;
            }
     }

    .sec1-inttxt{
        margin-top: 5vh;
        font-style: italic;
        background-color: black;
        position: relative;
        font-weight: bold;
        font-size: 2vw;
        color: white;
    }
    .smBtn {
        margin-top: 10vh;
    }
    .scBtn {
        font-weight: bold;
        font-size: 1vw;
        color: white;
        display: none;
        margin-right: 3vw;
        margin-left: 3vw;
        text-align: center;
        width: 100px;
        height: 100px;
        line-height: 85px;
    }
    .shortcutBtns:hover .scBtn {
        display: block;

    }
    </style>
    <>
    <img id='mainImg' src='/static/main/mainImg.jpg'>
    <div id="welcomeText">Welcome to MUTZIN STUDIO!</div>
    <div class="shortcutBtns">
        <a class="btn btn-outline-light scBtn" href="{% url 'lab:lab' %}">CV</a>
        <a class="btn btn-outline-light scBtn" href="{% url 'gallery' %}">GALLERY</a>
        <a class="btn btn-outline-light scBtn" href="{% url 'lab:lab' %}">LAB</a>
    </div>
    <div class="section1">
        <div id="sec1-txt">Try a variety of photo conversion modules!</div>
        <div class="sec1-inttxt">Create new Image to Filmtic Photo</div>
        <a class="filmgen-btn" href="{% url 'lab:filmgen' %}">Film Generator</a>
        <a class="btn btn-outline-light smBtn" href="/lab">SHOW MORE</a>
    </div>
<br>
    <div class="section2">
        <div id="sec1-txt">I am</div>
        <a id="cvImg"></a>
    </div>

    </body>
    <script>
        function revealAndEraseText(element, delay) {
            var text = element.innerHTML;
            element.innerHTML = '';
            var length = text.length;
            var i = 0;
            let onText = ''
            let delText = ''
            var t=100;
            // 글자를 나타내는 함수
            function reveal() {
                if (i <= length) {
                    onText += text.charAt(i)
                    element.innerHTML = onText + '|';
                    i++;
                    setTimeout(reveal, delay);
                } else {
                    setTimeout(erase, 500);

                }
            }
            function erase() {
                if (i >= 0) {
                    var newText = text.substring(0, i);
                    element.innerHTML = newText + '|';
                    i-=2;
                    setTimeout(erase, delay);
                } else {
                    // 모든 글자가 지워진 후, 다시 글자를 나타내는 함수 호출
                    onText = ''
                    setTimeout(reveal, 1000);
                     // 모든 글자가 지워진 후 1초 대기
                }
            }
            reveal();
        }
        window.onload = function () {
            var delay = 100; // 각 글자가 나타나거나 지워지는 시간 간격 (밀리초)
            var textElement = document.getElementById('welcomeText');
            revealAndEraseText(textElement, delay);
        };
</script>
{% endblock %}