<title>{% block head_title%}SEYUN's world{% endblock %}</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/lab/stackerup/">
        {% csrf_token %}
        <input type="file" name="stc_images" id="stc_images" accept=".jpg, .jpeg, .JPG" multiple>
{#        <input type="file" name="film_image" id="film_image" accept=".jpg, .jpeg, .JPG">#}
        <button type="submit">Upload</button>
    </form>

<script>

  </script>
</body>