{% extends 'common/base.html' %}
<title>{% block head_title%}MUTZIN LAB-STACKER{% endblock %}</title>
{% block content %}
<h1>Stacked Image를 경험하세요</h1>
    <div class="row-cols-1">
        <img src="{{ stacked_ori_image_url }}" alt="Original Image" style="max-width: 30vw; height: auto;">
        <img src="{{ stacked_image_url }}" alt="Modified Stacked Image" style="max-width: 30vw; height: auto;">
    </div>
    <h1></h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-light smBtn" href="{% url 'lab:download_image' pk=pk n=2 %}">download</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-light smBtn" href="/lab/imgstack">Image Stacker</a>
        </div>
    </div>
{% endblock %}