[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart= /home/seyun4047/Desktop/venv/seyun2024/bin/uwsgi -i /srv/CloudWeb/cloudWeb/.config/uwsgi/cloudWeb.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target