{% extends 'common/base.html' %}
{% block content %}
 <style>
    /* 네비게이션 바 스타일 */
    .nav-link1 {
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #333; /* 링크 색상 */
        padding: 10px 20px; /* 여백 */
        border-radius: 5px; /* 라운드 모서리 */
        margin: 0 10px; /* 링크 간격 */
        background-color: #f0f0f0; /* 배경색 */
        transition: background-color 0.3s ease; /* 배경색 전환 효과 */
         display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    /* 호버 효과 */
    .nav-link1:hover {
        background-color: #ddd; /* 호버 배경색 */
    }
</style>

<!-- 네비게이션 바 -->
<a class="nav-link1" href="{% url 'lab:filmgen' %}">Film Generator</a>
<a class="nav-link1" href="{% url 'lab:imgstack' %}">Image Stacker</a>
{#    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>#}
{% endblock %}