{% extends 'common/base.html' %}
{% block content %}
<style>
    .nav-link1 {
        display: inline-block;
        padding: 100px 150px; /* 버튼의 패딩을 조정하여 크기를 변경합니다 */
        color: #fff;
        text-decoration: none;
        background-size: cover;
        background-position: center;
    }

    .filmgen-btn {
        background-image: url('/static/lab/filmbtn.jpg');
    }

    .imgstack-btn {
        background-image: url('link_to_image_stacker_image.jpg');
    }

        /* 호버 상태에 따라 배경 이미지 변경 */
    .filmgen-btn:hover {
        background-image: url('/static/lab/film.gif');
    }

    .imgstack-btn:hover {
        background-image: url('link_to_hover_imgstack_image.jpg');
    }

</style>


<a class="nav-link1 filmgen-btn" href="{% url 'lab:filmgen' %}">Film Generator</a>
<a class="nav-link1 imgstack-btn" href="{% url 'lab:imgstack' %}">Image Stacker</a>
    <a class="nav-link1 imgstack-btn" href="{% url 'lab:qrgen' %}">QR generator</a>
{% endblock %}