{% extends 'common/base.html' %}
{% block content %}
<style>
    .nav-link1 {
        display: inline-block;
        padding: 30px 40px; /* 버튼의 패딩을 조정하여 크기를 변경합니다 */
        color: #fff;
        text-decoration: none;
        background-size: cover;
        background-position: center;
    }

    .filmgen-btn {
        background-image: url('/static/lab/filmbtn.jpg');
    }

    .imgstack-btn {
        background-image: url('link_to_image_stacker_image.jpg');
    }

    .hover-image {
        display: none;
        position: fixed;
        max-width: 37vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filmgenBtn = document.querySelector('.filmgen-btn');
        const imgstackBtn = document.querySelector('.imgstack-btn');
        const hoverImage = document.createElement('img');
        hoverImage.classList.add('hover-image');
        document.body.appendChild(hoverImage);

        filmgenBtn.addEventListener("mouseover", function() {
            hoverImage.src = '/static/lab/film.gif';
            hoverImage.style.display = 'block';
        });

        // imgstackBtn.addEventListener("mouseover", function() {
        //     hoverImage.src = 'link_to_large_image_stacker_image.jpg';
        //     hoverImage.style.display = 'block';
        // });

        filmgenBtn.addEventListener("mouseout", function() {
            hoverImage.style.display = 'none';
        });

        imgstackBtn.addEventListener("mouseout", function() {
            hoverImage.style.display = 'none';
        });
    });
</script>

<a class="nav-link1 filmgen-btn" href="{% url 'lab:filmgen' %}">Film Generator</a>
<a class="nav-link1 imgstack-btn" href="{% url 'lab:imgstack' %}">Image Stacker</a>
{% endblock %}